name: Semifold CI
on:
  push:
    branches: [main]

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  status:
    name: Version or Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Cache rust artifacts
        uses: Swatinem/rust-cache@v2
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts/
      - name: Semifold CI
        run: cargo run --bin semifold ci --debug
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
