name: Unit Test
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit-test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - name: Build
        run: cargo build --workspace
      - name: Format check
        run: cargo fmt --all -- --check
      - name: Code lint
        run: cargo clippy --workspace -- -D warnings
      - name: Test
        run: cargo test --workspace --verbose
